<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" >
      <div class="well">
        <%= link_to "New Quote", new_quote_path, class: "btn btn-success" %>

      </div>
      <h2>This is a listing of all the quotes</h2>
      <% @quotes.each do |quote| %>
        <div class="panel panel-default">
          <div class="panel-heading">This is the Quote</div>
            <div class="panel-body">
              <p class="quote-text text-center">
                "<%= quote.quote %>"
              </p>
              <br/>
              <p class="text-right"><em>source: <%= quote.source %></em></p>
            </div>
            <div class="panel-footer">
              <%= link_to "Show Quote", quote_path(quote), class: "btn btn-success" %>
              <%= link_to "edit Quote", edit_quote_path(quote), class: "btn btn-warning" %>
              <%= link_to "Delete Quote", quote_path(quote), method: :delete, data: {confirm: "Are you sure to delete this quote?"}, class: "btn btn-danger" %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
