<div class="panel panel-default">
  <div class="panel-heading"><h4><%= @user.new_record? ? "Create a new Profile" : "Edit Youre Profile" %> </h4></div>
    <div class="panel-body">
      <%= simple_form_for @user do |f| %>
        <%= f.input :name, placeholder: 'Please enter your name' %>
        <%= f.input :email, placeholder: 'Please enter your email' %>
        <%= f.input :password, placeholder:(@user.new_record? ? 'Enter Password' : 'New password') %>
        <%= f.input :password_confirmation, placeholder:(@user.new_record? ? 'Enter Password' : 'Confirm new password') %>
        <%= f.submit(@user.new_record? ? "Sign up" : "update account", class: 'btn btn-primary ') %>
      <% end %>
    </div>
  </div>
</div>
